<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Historic Sites</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/webp" href="/imgs/ca-40x30.webp">
</head>

<body>
    <%- include('partials/navbar', {page: '/sites' }) %>

        <div class="container mx-auto p-4">
            <div class="hero bg-base-200 rounded-lg p-6">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 class="text-5xl font-bold">Site Collection</h1>
                        <p class="py-6">
                            Browse all National Historic Sites. Click buttons to filter sites by region, e.g.,   
                            <a href="/sites?region=Atlantic Region" class="btn btn-primary mt-2 btn-xs">Atlantic Region</a>                            <a href="/sites?region=Atlantic Region">Atlantic Region</a>
                            <a href="/sites?region=Central Canada" class="btn btn-primary mt-2 btn-xs">Central Canada</a>
                            <a href="/sites?region=Prairie Provinces" class="btn btn-primary mt-2 btn-xs">Prairie Provinces</a>
                            or by province or territory, eg.,
                            <a href="/sites?provinceOrTerritory=Ontario" class="btn btn-primary mt-2 btn-xs">Ontario</a>
                            <a href="/sites?provinceOrTerritory=Quebec" class="btn btn-primary mt-2 btn-xs">Quebec</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="overflow-x-auto overflow-y-hidden">
                <table class="table table-zebra">
                    <tbody>
                        <% for( const site of sites) { %>
                            <tr>
                                <td><img src="<%= site.image %>" class="h-32 rounded-lg m-2"></td>
                                <td><%= site.site %></td>
                                <td><span class="font-bold">Date:</span><%= site.date %> <br>
                                <span class="font-bold">Designated: </span><%= site.designated %></td>
                                <td><span class="font-bold"><%= site.location %>,</span>
                                    <a href="/sites?provinceOrTerritory=<%=site.provinceOrTerritoryObj.name%>" 
                                        class="btn btn-primary btn-xs"><%=site.provinceOrTerritoryObj.name%></a>
                                </td>
                                <td> 
                                    <a href="/sites?region=<%=site.provinceOrTerritoryObj.region%>" 
                                        class="btn btn-primary btn-xs"><%=site.provinceOrTerritoryObj.region%></a>
                                </td>
                                <td> 
                                    <a href="/sites/<%=site.siteId%>" 
                                        class="btn btn-primary btn-xs">details</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>